* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

.form-container {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: black;
    font-size: 26px;
}

.form-section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}


.section-title {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
}

.form-section-inner {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="date"],
textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    margin-bottom: 15px;
}

.full-width {
    flex-basis: 100%;
}

textarea {
    resize: vertical;
    height: 100px;
}

button {
    background-color: #333;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    width: 100%;
    margin-top: 20px;
}

button:hover {
    background-color: #555;
}